/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

@media (min-width:500px) and (max-width:768px) {
    .brand-texts{
        font-size: 1.5rem;
    }

    .quotes{
        display: block;
    }

    .quotes .phoneicons{
        width: 40px;
        /* padding: 20px; */
    }

    .quotes .infos h2{
        font-size: 1.4rem
    }

    .quotes .infos p{
        font-size: 1rem;
        margin-bottom: 10px;
    }

    /* .clientlists li{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    } */

    .clientlists li img{
        width: 2rem;
    }

    .quotes .btn-calls {
        width: 84px;
        height: 40px;
        background-color: var(--primary-color);
        color: #fff;
        font-family: sans-serif;
        font-size: .84rem;
        line-height: 40px;
        border: 0;
        border-radius: 100px;
        padding: 0;
        /*cuz of bootstrap btn effect*/
        transform: translateY(-1px);
    
        transition: all .3s;
    }
    
    
}